[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
csip = "*"
jsonschema = "*"
click = "*"
click-log = "*"
dotted = "*"
pymongo = "*"
pykafka = "*"
"ruamel.yaml" = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
flake8 = "*"
pytest = "*"
mkdocs = "*"

[requires]
python_version = "3.6"
