[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
csip = "*"
jsonschema = "*"
click = "*"
click-log = "*"
dotted = "*"
"ruamel.yaml" = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
pylint = "*"

[requires]
python_version = "3.6"
