[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.21.0"
csip = "==0.8.13"
jsonschema = "==3.0.1"
click = "==7.0"
click-log = "==0.3.2"
dotted = "==0.1.8"
pymongo = "==3.7.2"
pykafka = "==2.8.0"
"ruamel.yaml" = "==0.15.88"
pandas = "==0.24.2"

[dev-packages]
setuptools = "*"
wheel = "*"
flake8 = "*"
mkdocs = "*"
"bump2version" = "*"
pytest = "*"

[requires]
python_version = "3.6"
